* {
  box-sizing: border-box;
}

#messages {
  height: 300px;
}
body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
footer {
  /* margin: 3rem auto; */
  align-items: center;
  text-align: center;
  width: 100%;
  height: 2.5rem;
  bottom: 0;
  position: absolute;
}
a,
i {
  color: black;
}
i {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
